@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$primary: #5bc8af;
$dark: #333333;
$success: #297c6b;
$secondary: #eaeaea;
$light: #f5f5f5;

$theme-colors: (
  "primary": $primary,
  "dark": $dark,
  "success": $success,
  "light": $light,
  "secondary": $secondary,
);

$carousel-indicator-active-bg: $primary;
$carousel-indicator-bg: $light;
$carousel-indicator-opacity: 0.2;
$carousel-indicator-width: 10px;
$carousel-indicator-height: 10px;

@import "../node_modules/bootstrap/scss/bootstrap";

.carousel-indicators {
  top: 120px !important;

  button {
    border-radius: 50%;
  }
}
